@model IEnumerable<freelancerzy.Models.Category>

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<h1 class="text-center" style="padding:20px">Lista kategorii</h1>
<hr />
<body>
    <div class="container bg-white border border-primary rounded mt-3 pt-2 px-5">
        <table class="table">
            <thead>
                <tr>
                    <th width="60%">
                        @Html.DisplayNameFor(model => model.CategoryName)
                    </th>
                    <th width="30%"></th>
                    <th width="10%">
                        <a asp-action="Create" type="submit" class="btn btn-primary border border-dark">Dodaj kategorię</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="py-3">
                            @Html.DisplayFor(modelItem => item.CategoryName)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Categoryid">
                                <span  class="fa fa-pencil btn"></span>
                            </a>
                            <a  asp-action="Details" asp-route-id="@item.Categoryid">
                                <span  class="fa fa-reorder btn"></span>
                            </a> 
                            <a asp-action="Delete" asp-route-id="@item.Categoryid">
                                 <span  class="fa fa-trash btn"></span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>

</html>
