@model freelancerzy.Models.PageUser

@{
    ViewData["Title"] = "Edytuj dane";
}

<h1 class="text-center" style=" padding:20px">Edytuj dane:</h1>
<section class="front">
    <div class="text-center w-50"
        style="background-color:lightgray; margin-right: 25%; margin-left: 25%; margin-bottom: 16px; padding-bottom:40px">
        <div>
            <ul class="nav nav-tabs" role="tablist">
                <li class="active" style="width:25%"><a style="color:black; padding:5px" href="#ogolne" role="tab"
                        data-toggle="tab">Ogólne</a></li>
                <li style="width:25%"><a href="#adres" style="color:black; padding:5px" role="tab"
                        data-toggle="tab">Adres</a></li>
                <li style="width:25%"><a style="color:black; padding:5px" href="#email" role="tab"
                        data-toggle="tab">Email</a></li>
                <li style="width:25%"><a style="color:black; padding:5px" href="#haslo" role="tab"
                        data-toggle="tab">Hasło</a></li>
            </ul>
        </div>
        <br />

        <div class="tab-content">

            <div class="tab-pane active" id="ogolne">
                <form method="post" asp-route-returnurl="@ViewData["ReturnUrl"]" asp-controller="User"
                    asp-action="EditGeneral">
                    <div class="input">
                        <input type="hidden" asp-for="EmailAddress"/>
                        <input type="hidden" asp-for="registrationDate"/>
                        <input type="hidden" asp-for="emailConfirmation"/>
                        <input type="hidden" asp-for="TypeId"/>
                        <input type="hidden" asp-for="Credentials.Password"/>
                        <input type="hidden" asp-for="Useraddress"/>
                        <input type="hidden" asp-for="Userid"/> <!-- Poprawić przekazywanie hidden -->
                        <input style="padding:3px; width:70%" asp-for="FirstName"
                            placeholder="@Html.DisplayNameFor(model => model.FirstName)"/>
                        <span asp-validation-for="FirstName" class="text-danger" style="font-size: small;"></span>
                        <br />
                        <br />
                        <input style="padding:3px; width:70%" asp-for="Surname"
                            placeholder="@Html.DisplayNameFor(model => model.Surname)">
                        <span asp-validation-for="Surname" class="text-danger" style="font-size: small;"></span>
                        <br />
                        <br />
                        <input style="padding:3px; width:70%" asp-for="Phonenumber"
                            placeholder="@Html.DisplayNameFor(model => model.Phonenumber)">
                        <span asp-validation-for="Phonenumber" class="text-danger" style="font-size: small;"></span>
                        <br />
                        <br />
                        <div class="text-center">
                            <input type="submit" style="padding:15px 50px;font-size:large;"
                                class="btn btn-outline-primary btn-dark text-light" value="Zatwierdź" />
                        </div>
                    </div>
                </form>
            </div>



            <div class="tab-pane" id="adres">
                <form method="post" asp-route-returnurl="@ViewData["ReturnUrl"]" asp-controller="User"
                    asp-action="EditAddress">
                    <input style="padding:3px; width:70%" asp-for="Useraddress.Street"
                            placeholder="@Html.DisplayNameFor(model => model.Useraddress.Street)"/>
                    <span asp-validation-for="Useraddress.Street" class="text-danger" style="font-size: small;"></span>
                    <br />
                    <br />
                    <input style="padding:3px; width:70%" asp-for="Useraddress.Number"
                            placeholder="@Html.DisplayNameFor(model => model.Useraddress.Number)"/>
                    <span asp-validation-for="Useraddress.Number" class="text-danger" style="font-size: small;"></span>
                    <br />
                    <br />
                    <input style="padding:3px; width:70%" asp-for="Useraddress.ApartmentNumber"
                            placeholder="@Html.DisplayNameFor(model => model.Useraddress.ApartmentNumber)"/>
                    <span asp-validation-for="Useraddress.ApartmentNumber" class="text-danger" style="font-size: small;"></span>
                    <br />
                    <br />
                    <input style="padding:3px; width:70%" asp-for="Useraddress.ZipCode"
                            placeholder="@Html.DisplayNameFor(model => model.Useraddress.ZipCode)"/>
                    <span asp-validation-for="Useraddress.ZipCode" class="text-danger" style="font-size: small;"></span>
                    <br />
                    <br />
                    <input style="padding:3px; width:70%" asp-for="Useraddress.City"
                            placeholder="@Html.DisplayNameFor(model => model.Useraddress.City)"/>
                    <span asp-validation-for="Useraddress.City" class="text-danger" style="font-size: small;"></span>
                    <br />
                    <br />
                    <div class="text-center">
                        <input type="submit" style="padding:15px 50px;font-size:large;"
                            class="btn btn-outline-primary btn-dark text-light" value="Zatwierdź" />
                    </div>
                </form>
            </div>

            <div class="tab-pane" id="email">
                <form method="post" asp-route-returnurl="@ViewData["ReturnUrl"]" asp-controller="User"
                    asp-action="EditEmail">
                    <input asp-for="EmailAddress" style="padding:3px; width:70%" placeholder="Nowy email">
                    <span asp-validation-for="EmailAddress" class="text-danger" style="font-size: small;"></span>
                    <br />
                    <br />
                    <!-- TODO: rozdzielić pola z mailami -->
                    <input style="padding:3px; width:70%" placeholder="Powtórz email" asp-for="EmailAddress">
                    <span asp-validation-for="EmailAddress" class="text-danger" style="font-size: small;"></span>
                    <br />
                    <br />
                    <div class="text-center">
                        <input type="submit" style="padding:15px 50px;font-size:large;"
                            class="btn btn-outline-primary btn-dark text-light" value="Zatwierdź" />
                    </div>
                </form>
            </div>

            <div class="tab-pane" id="haslo">
                <form method="post" asp-route-returnurl="@ViewData["ReturnUrl"]" asp-controller="User"
                    asp-action="EditCredentials">
                    <!-- TODO: rozdzielić pola z hasłami -->
                    <input style="padding:3px; width:70%" placeholder="Stare hasło" asp-for="Credentials.Password" style="padding:3px; width:70%" placeholder="Nowy email">
                    <span asp-validation-for="Credentials.Password" class="text-danger" style="font-size: small;"></span>
                    <br />
                    <br />
                    <input style="padding:3px; width:70%" placeholder="Nowe hasło" asp-for="Credentials.Password" style="padding:3px; width:70%" placeholder="Nowy email">
                    <span asp-validation-for="Credentials.Password" class="text-danger" style="font-size: small;"></span>
                    <br />
                    <br />
                    <input style="padding:3px; width:70%" placeholder="Powtórz hasło" asp-for="Credentials.PasswordConfirmed" style="padding:3px; width:70%" placeholder="Nowy email">
                    <span asp-validation-for="Credentials.PasswordConfirmed" class="text-danger" style="font-size: small;"></span>
                    <br />
                    <br />
                    <div class="text-center">
                        <input type="submit" style="padding:15px 50px;font-size:large;"
                            class="btn btn-outline-primary btn-dark text-light" value="Zatwierdź" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

 @section scripts{

        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    }