@model freelancerzy.Models.PageUser

@{
    ViewData["Title"] = "Rejestracja";
}



<form method="post" asp-controller="User" asp-action="Register" 
      style="height: 64em; width: 56em; margin:auto; margin-top: 8em; ">
    <div class="container bg-white border border-primary rounded">
        <h1 class="display-3 text-center mt-5 mb-5">Zarejestruj się!</h1>

        <div id="column" class="input">

            <input id="input" class="form-control border border-primary" asp-for="FirstName" placeholder="@Html.DisplayNameFor(model => model.FirstName)" />
            <span id="input" asp-validation-for="FirstName" class="text-danger" style="font-size: small;"></span>
            </br> </br>

            <input id="input" class="form-control border border-primary" asp-for="Surname" placeholder="@Html.DisplayNameFor(model => model.Surname)">
            <span id="input" asp-validation-for="Surname" class="text-danger" style="font-size: small;"></span>
            </br> </br>

            <input id="input" class="form-control border border-primary" asp-for="Phonenumber" placeholder="@Html.DisplayNameFor(model => model.Phonenumber)">
            <span id="input" asp-validation-for="Phonenumber" class="text-danger" style="font-size: small;"></span>
            </br> </br>

        </div>

        <div id="column" class="input">

            <input id="input" class="form-control border border-primary" asp-for="EmailAddress" placeholder="@Html.DisplayNameFor(model => model.EmailAddress)">
            <span id="input" asp-validation-for="EmailAddress" class="text-danger" style="font-size: small; float: left"></span>
            <span class="" style="font-size: 97%; font-weight: 600; font-kerning: auto; padding-left: 51px; color: #dc3545;">@ViewData["ErrorEmail"]</span>
            </br> </br>

            <div id="passwd" class="input-group align-items-center">
                <input class="form-control border border-primary" asp-for="Credentials.Password" id="txtPassword" placeholder="@Html.DisplayNameFor(model => model.Credentials.Password)">

                <div class="input-group-append align-items-center m-1">
                    <button id="show_password" class="fa fa-eye-slash btn btn-primary btn-sm align-items-center" type="button" style="float:left">
                    </button>
                </div>
            </div>

            <span id="input" asp-validation-for="Credentials.Password" class="text-danger" style="font-size: small;"></span>
            </br></br>

            <div id="passwd" class="input-group align-items-center">

                <input class="form-control border border-primary" asp-for="Credentials.PasswordConfirmed" id="txtPassword2" placeholder="@Html.DisplayNameFor(model => model.Credentials.PasswordConfirmed)">

                <div class="input-group-append align-items-center m-1">
                    <button id="show_password2" class="fa fa-eye-slash btn btn-primary btn-sm align-items-center" type="button" style="float:left">
                    </button>
                </div>
            </div>

            <span id="input" asp-validation-for="Credentials.PasswordConfirmed" class="text-danger" style="font-size: small;"></span>
        </div>

        <div style="clear:both"></div>
        <label class="text-danger">@ViewData["Error"]</label></br>
        <button type="submit" class="btn btn-primary btn-block" style="width:40%; margin-left:30%">Zatwierdź</button> </br> </br>
        <label id="label">Cieszymy się, że dołączasz do naszej społeczności!</label>
        </br></br>
    </div>
</form>

<style>
    #column{
        float:left;
        width:50%;
    }

    #input{
        width:76%;
        margin-left:12%;       
    }
    #passwd {
        width: 85%;
        margin-left: 12%;
    }
    #label {
        width:100%;
        text-align: center;
        font-size:larger;
        font-weight:500;
    }
</style>


@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#show_password, #show_password2').hover(function show() {
                $('#txtPassword, #txtPassword2').attr('type', 'text');
                $('.icon').removeClass('fa fa-eye-slash').addClass('fa fa-eye');
            },
                function () {
                    $('#txtPassword, #txtPassword2').attr('type', 'password');
                    $('.icon').removeClass('fa fa-eye').addClass('fa fa-eye-slash');
                });
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

