@model freelancerzy.Models.PaginatedList<freelancerzy.Models.Offer>

@foreach (var offer in Model)
{
    <div id="text" class="m-1 @if (offer.ExpirationDate >= DateTime.Now) { @Html.Raw("border border-dark")} else { @Html.Raw("border border-expired")}  rounded  offer" style="padding-bottom: 0px">
        <table class="table table-borderless pb-2" style="border:none" margin-bottom: 0px">
            <tbody>
                <tr>
                    <td width="70%">
                        <h4 class="p-1">@offer.Title</h4>
                    </td>
                    <td width="30%" class="text-center">
                        @if (offer.Wage != null)
                        {
                            <h4>@Html.DisplayFor(modelItem => offer.Wage)</h4>
                        }
                        else
                        {
                            <h4>Nieokreślona stawka</h4>
                        }
                    </td>
                </tr>
                <tr>
                    <td width="70%" class="mb-0 pb-0">

                        @if (offer.Description?.Length > 300)
                        {
                            <p class="p-1">@offer.Description.Substring(0, 300)...</p>
                        }
                        else
                        {
                            <p class="p-1">@offer.Description</p>
                        }
                    </td>
                    <td class="text-center align-bottom">
                        <a class="btn btn-dark btn-outline-primary" asp-action="Details" asp-route-id="@offer.Offerid">Szczegóły</a>
                        
                                <a class="btn btn-danger" asp-action="Edit" asp-route-id="@offer.Offerid">Edytuj</a>
                        
                        @if (offer.ExpirationDate < DateTime.Now)
                        {
                        <div style="clear:both; margin-top:10px;">
                            <span class="text-danger">Oferta wygasła</span>
                        </div>
                        }
                    </td>

                </tr>

            </tbody>
        </table>



    </div>
}

<style>
    div#text > table:hover {
        color: ghostwhite !important;
    }
</style>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div>
    <div style="width:50%" class="d-inline-block ">
        Jesteś na stronie: <input min="1" max="@Model.TotalPages" type="number" value="@Model.PageIndex" id="page" style="width:50px;" /> z @Model.TotalPages <button class="btn btn-default" id="goToPage">Przejdź</button>

    </div>
    <div style="float:right">
        <button id="prev"
                class="btn btn-default" @prevDisabled>
            Poprzednia
        </button>
        <button id="next"
                class="btn btn-default" @nextDisabled>
            Następna
        </button>
    </div>
</div>
<script>
    var totalPages = @Model.TotalPages;
</script>



