@model IEnumerable<freelancerzy.Models.Offer>
@{
    ViewData["Title"] = "Search";
}

<section class="front">
    <div id="header">
        <h1>Wyszukaj Zlececnia</h1>
        <br />
    </div>
    <div id="filtr">
        <input name="phrase" style="padding:3px; width:30%" placeholder="Wpisz frazę">
        <button type="button" style="padding:7px 20px;" class="btn btn-outline-primary btn-dark text-light">Szukaj</button>
    </div>
    <div id="nav">
        <h3>Kategoria</h3>
        <select>
            <option>Programista</option>
            <option>Projektant Wnętrz</option>
            <option>Architekt</option>
            <option>Grafik</option>
            <option>Montarzysta</option>
            <option>Reszta</option>
        </select>
        <br><br />
        <h3>Filtry:</h3>
        <input type="checkbox" name="check1" />
        <label for="check1">coś tam</label><br />
        <input type="checkbox" name="check3" />
        <label for="check2">coś tam</label><br />
        <button type="button" style="padding:7px 15px;" class="btn btn-outline-primary btn-dark text-light">Zastosuj</button>
    </div>
    <div id="content">
        <label>Sortuj według:</label>
        <select>
            <option>Nazwa: A-Z</option>
            <option>Nazwa: Z-A</option>
            <option>Stawka: od najniższej</option>
            <option>Stawka: od najwyższej</option>
            <option>Data dodawnia: od najnowszych</option>
            <option>Data dodania: od najstarszych</option>
        </select>
        <br><br />
        <h3>Oferty:</h3>
        @foreach (var offer in Model)
        {
            <div class="m-1 border rounded border-dark ">
                <table class="table table-borderless" style="border:none">
                    <tbody>
                        <tr>
                            <td width="70%">
                                <h4 class="p-1">@offer.Title</h4>
                            </td>
                            <td width="30%" class="text-center">
                                @if (offer.Wage != null)
                                {
                                    <h4>@Html.DisplayFor(modelItem => offer.Wage)</h4>
                                }
                                else
                                {
                                    <h4>Nieokreślona stawka</h4>
                                }
                            </td>
                        </tr>
                        <tr >
                            <td width="70%" class="mb-0 pb-0">
                            
                                @if (offer.Description?.Length > 300)
                                {
                                    <p class="p-1">@offer.Description.Substring(0, 300)...</p>
                                }
                                else
                                {
                                    <p class="p-1">@offer.Description</p>
                                }
                            </td>
                            <td class="text-center align-bottom">
                                <a class="btn btn-primary" asp-action="Details" asp-route-id="@offer.Offerid">Szczegóły</a>
                            </td>
                            
                        </tr>


                       



                        
                    </tbody>
                </table>
                
                        
               
            </div>
        }
    </div>
</section>

<style>
    #header {
        text-align: center;
        padding: 20px;
    }

    #filtr {
        text-align: center;
        padding: 20px;
    }

    .border {
        border-width: 10px !important;
    }

    #nav {
        width: 20%;
        padding: 20px;
        text-align: center;
        float: left;
        min-height: 700px;
    }

    #content {
        width: 75%;
        min-height: 800px;
        float: left;
        padding: 20px;
        background-color: lightgray;
        margin-right: 5%;
        margin-bottom: 516px;
    }
</style>
